$color-bg-primary: #FFFFFF;
$color-bg-secondary: #F2F2F2;
$color-bg-tertiary: #292D32;
$color-bg-special: #343A41;
$color-accent-blue: #33A9FF;
$color-accent-gray: #F9F9F9;
$color-text-primary: #292D32;
$color-text-secondary: #838383;
$color-text-tertiary: #FFFFFF;
$color-text-special: #F2F2F2;

$font-size-xs: 14px;
$font-size-s: 15px;
$font-size-m: 16px;
$font-size-ml: 18px;
$font-size-l: 22px;
$font-size-xl: 25px;
$font-size-xxl: 50px;
$font-size-special: 20px;
$font-size-special2: 30px;

$font-weight-light: 100;
$font-weight-regular: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;

$mobile: 500px;
$tablet: 800px;
$laptop: 1000px;
$desktop: 1280px;
$largeScreen: 1400px;